.videolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  h1 {
    margin: 50px 0 0 0;
    font-size: 38px;

    top: 0;
    z-index: 1 00;
  }

  .container {
    height: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;

    .video {
      scroll-snap-align: center;
    }
  }
}

@media (max-width: 800px) {
  .videolist {
    h1 {
      font-size: 30px;
    }
  }
}

@media (max-width: 460px) {
  .videolist {
    h1 {
      font-size: 20px;
    }
  }
}
