.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  //   background-color: rgb(163, 193, 197);

  .name {
    margin: 20px 0 20px 0;
    position: sticky;

    h1 {
      font-size: 38px;
    }
  }
  .container {
    margin-top: 60px;
    width: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;

    .left {
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      font-size: 70px;
      font-weight: 700;
      span {
        margin: 34px 50px 0 80px;
      }
    }

    .right {
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: top;
      margin-right: 70px;

      .drone {
        width: 100%;
        height: 265px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;

        .locations {
          display: flex;
          flex-direction: column;

          margin-top: 22px;
          margin-right: 40px;

          span {
            font-size: 100px;
            font-weight: 600;
          }
        }

        .droneicon {
          display: flex;
          overflow: hidden;
          align-items: flex-start;
          justify-content: center;
          width: 100%;
          margin: 0 40px 0 0;
          border-bottom: 1px solid rgb(121, 121, 121);
          height: 243px;
          position: relative;

          .dronelogo {
            width: 100px;
            transform: translateY(191px);
            transition: all 0.7s ease-in;
            cursor: pointer;
          }
          .dronegif {
            transform: translateY(243px);
            transition: all 0.7s ease-in;
            object-fit: cover;
            position: absolute;
            border-radius: 10px;
            z-index: -200;
          }
          .dronemessage {
            margin-top: 60px;
            font-size: 25px;
            position: absolute;
            color: white;
            z-index: -100;
          }
          .dronelogo:hover {
            transform: translateY(0);
          }
          .dronelogo:hover + .dronegif {
            transform: translateY(49px);
            border-radius: 10px;
          }
          .dronelogo:hover + .dronemessage {
            color: black;
          }
          .dronelogo:active {
            transform: translateY(0);
          }
        }
      }

      .info {
        margin-top: 60px;
        width: 450px;
        height: 35%;
        background-color: rgba(211, 211, 211, 0.5);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .touch {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          span {
            font-size: 20px;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 30px;
          }
          h5 {
            font-size: 15px;
            font-weight: 500;
            margin-bottom: 30px;
          }
        }

        .media {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;

          span {
            font-size: 20px;
            font-weight: 600;
            margin-top: 15px;
            margin-bottom: 17px;
          }

          .medialogos {
            display: flex;
            flex-direction: row;
            h5 {
              font-size: 25px;
              margin-bottom: 25px;
              margin-right: 20px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}
