.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  .name {
    margin: 20px 0 20px 0;
    position: sticky;

    h1 {
      font-size: 38px;
    }
  }
  .container {
    width: 95%;
    height: 80vh;
    display: flex;

    .project {
      width: 55%;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      font-size: 65px;
      font-weight: 700;
      span {
        margin: 3% 15%;
      }
    }

    .drone {
      width: 40%;
      height: 40%;

      position: absolute;
      top: 130px;
      left: 700px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;

      .locations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        span {
          font-size: 100px;
          font-weight: 600;
        }
      }

      .droneicon {
        border-bottom: 1px solid black;
        height: 85%;
        img {
          width: 100px;
          transform: translateY(170px);
          transition: all 0.7s ease-out;
        }
        img:hover {
          transform: translateY(0);
        }
      }
    }

    .info {
      width: 40%;
      height: 30%;
      background-color: rgb(238, 238, 238);
      position: absolute;
      top: 400px;
      left: 640px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .touch {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        span {
          font-size: 20px;
          font-weight: 600;
          margin-top: 25px;
          margin-bottom: 30px;
        }
        h5 {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 30px;
        }
      }

      .media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 30px;
        span {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 30px;
        }
        h5 {
          font-size: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
