.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(75, 75, 75);
  background-color: rgb(215, 238, 240);
  // background-image: url("../../assets/images/fondo.jpg");

  .container {
    display: flex;
    flex-direction: row;
    .name {
      margin: 120px 0 0 0;
      z-index: 200;

      h1 {
        font-size: 75px;
        font-weight: 800;
        margin-bottom: -10px;
      }
      .touch {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;

        h1 {
          font-size: 60px;
        }

        .arrow {
          transform: rotate(90deg);
          margin: 50px 0 0 30px;
        }
      }
    }
    img {
      width: 250px;
      
      margin: 20px 0 0 0;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 800;
    margin: 10px 0 100px 0;
  }

  h1 {
    font-size: 75px;
    font-weight: 800;
  }

  .contactinfo {
    display: flex;
    flex-direction: row;
    margin: 30px 0 30px 0;

    .separador {
      margin: 0 30px;
      transition: transform 0.5s;
      cursor: pointer;

      .iconos {
        font-size: 90px;
        transition: transform 0.3s;
      }
    }
    .separador:hover .iconos {
      transform: rotate(20deg);
    }
    .separador:hover {
        scale: 1.1;
        opacity: 0.8;
      }
    }
}

@media (max-width: 1439px) {
  .contact {
    .container {
      .left {
        font-size: 60px;
      }
    }
  }
}

@media (max-width: 1159px) {
  .contact {
    .container {
      .left {
        font-size: 55px;
      }
    }
  }
}

@media (max-width: 1100px) {
  .contact {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .left {
        text-align: center;

        span {
          margin: 34px 100px 0 100px;
        }
        .arrow {
          transform: rotate(90deg);
        }
      }

      .right {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: top;
        margin-right: 0px;

        .drone {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          .locations {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            margin-right: 0px;

            span {
              margin: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 520px) {
  .contact {
    .container {
      .left {
        width: 500px;
        font-size: 40px;
      }
      .right {
        .drone {
          .locations {
            span {
              font-size: 60px;
              margin: 10px;
            }
          }
        }
        .info {
          height: auto;
          width: auto;
          flex-direction: column;
          padding: 20px 25px 0 25px;
        }
      }
    }
  }
}
