.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  .name {
    margin: 60px 0 40px 0;
    position: sticky;
    top: 20px;

    h1 {
      font-size: 36px;
    }
  }
  .container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
