.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: rgb(75, 75, 75);
  background-color: rgb(240, 240, 240);

  .inicio {
    position: fixed;
    top: 80px;
    z-index: 200;

    h1 {
      font-size: 60px;
      font-weight: 800;
      margin-bottom: -10px;
      text-align: center;
    }
    .process {
      font-size: 28px;
      width: 700px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
      margin: 50px;
      h5 {
        margin-top: 20px;
      }
    }
  }
  .block0 {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/block0.gif");
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block1 {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-image: url("../../assets/images/block1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block2 {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-image: url("../../assets/images/block2.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block3 {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-image: url("../../assets/images/block3.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block4 {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-image: url("../../assets/images/block4.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .block5 {
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-image: url("../../assets/images/block5.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
