.architect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    overflow: hidden;
  
    h1 {
      position:absolute;
      font-size: 38px;
      top: 10px;
      z-index: 100;
    }
  
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media (max-width: 800px) {
    .videolist {
      h1 {
        font-size: 30px;
      }
    }
  }
  
  @media (max-width: 460px) {
    .videolist {
      h1 {
        font-size: 20px;
      }
    }
  }
  