.item {
  width: 50%;
  height: 60vh;
  margin: 0;
  overflow: hidden;
  text-decoration: none;
  color: white;

  .blackwhite {
    width: 100%;
    height: 60vh;
    filter: grayscale(100%);
    object-fit: cover;
  }

  &:hover,
  &:active {
    overflow: hidden;

    .blackwhite {
      display: none;
    }

    .iteminfo {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px 30px;
      z-index: 400;
      transition: all 0.3s ease-out;

      h3 {
        margin: 5px;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .gif {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      z-index: -99;
    }
  }
}

@media (max-width: 768px) {
  .item {
    width: 50%;
  }
}

@media (max-width: 425px) {
  .item {
    width: 100%;
  }
}
