.photolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;

  .photos {
    margin: 20px 0 40px 0;
    position: sticky;

    h1 {
      font-size: 38px;
    }
  }
  .container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
