.videoitem {
  width: 98.9vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .blackwhite {
    // filter: grayscale(100%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
  }
  .videoname {
    position: absolute;
    color: white;
    text-decoration: none;

    span {
      font-size: 2vw;
      font-weight: 600;
    }

    h3 {
      position: absolute;
      font-size: 1vw;
    }

    &:hover {
      color: white;
    }
  }
  .gif {
    height: 1300px;
    object-fit: cover;
    overflow: hidden;
  }
}
