.videoitem {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;

  .videoname {
    position: absolute;
    color: black;
    text-decoration: none;

    span {
      font-size: 6vw;
      font-weight: 600;
    }

    h3 {
      position: absolute;
      font-size: 1.5vw;
    }

    &:hover {
      color: white;
    }
  }

  .blackwhite {
    height: 1300px;
    object-fit: cover;
  }
}
