.faqs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: rgb(75, 75, 75);
  background-color: rgb(247, 247, 247);
  width: 100vw;
  // background-image: url("../../assets/images/fondo.jpg");

  .name {
    text-align: center;
    margin: 40px 0 0 0;
    z-index: 200;

    h1 {
      font-size: 60px;
      font-weight: 600;
      margin-bottom: -10px;
    }
  }

  h1 {
    font-size: 75px;
    font-weight: 800;
  }

  .qya {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;

    margin: 60px 0;

    .separador {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      border: none;
      color: rgb(75, 75, 75);
      background-color: rgb(247, 247, 247);
      transition: transform 0.5s;
      cursor: pointer;
      transition: scale 0.2s ease-in-out;

      .pregunta {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        margin: 0 0 30px 24vw;
        .iconos {
          font-size: 20px;
          transition: transform 0.3s;
          margin: 0 20px 0 0;
        }
        h5 {
          font-size: 20px;
          font-weight: 800;
        }
      }
      .respuesta {
        display: flex;
        flex-direction: row;
        text-align: left;
        justify-content: center;
        margin: 0 18vw 30px 24vw;

        h6 {
          line-height: 200%;
          font-size: 15px;
          margin-right: 30px;
        }
        img {
          width: 350px;
          height: min-content;
        }
      }
    }
    .separador:hover .iconos {
      transform: rotate(20deg);
    }
    .separador:hover {
      scale: 1;
    }
  }
}
